/*@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap");

:root {
  --red: #ff6249;
  --sand: #fdeadb;
}

* {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--sand);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: var(--sand);
}
body h3 {
  font-size: 7rem;
}
body h2 {
  font-size: 3rem;
}
body h1 {
  font-size: 4rem;
}
body p {
  font-size: 2.5rem;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-stop: always;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--red);
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #fff;
  padding-right: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
}

header .logo img {
  padding-right: 0.5rem;
  height: 9vh;
  padding-top: 2.25rem;
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #fff;
}

header .navbar a:hover {
  color: #fdf85d;
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: var(--red);
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

#menu_x {
  display: none;
}

.home {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.home .content {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 6.5rem;
}

.home .content h3 {
  transform: translate(30%, -60%);
}

.who_we_are .content {
  padding: 2rem 9%;
}

.who_we_are img {
  padding-top: 11.25rem;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.ethos {
  padding-top: 6rem;
  padding: 2rem 9%;
  padding-top: 20rem;
  padding-bottom: 15rem;
}

.style {
  padding-top: 11.25rem;
  padding-bottom: 6rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.style .content {
  padding: 2rem 9%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.contact_us {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 40vh;
  color: #fff;
  font-size: 4rem;
  margin: 2rem;
  text-align: left;
}

#scroll-top {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 4rem;
  background: var(--red);
  color: #394c58;
  border-radius: 0.5rem;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.225);
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 30vh);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

.banner .sun_graphic {
  z-index: 1000;
  height: 60vh;
  width: 60vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  margin-right: -50%;

  transform: translate(-50%, -50%);
}

.logo_sun {
  align-items: center;
  text-align: center;
  justify-content: center;
  animation: fadeInandOutAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logo_sun img {
  height: 20vh;
}

.logo_sun h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 7rem;
}

.banner {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  position: absolute;
  align-items: center;
  vertical-align: middle;
  display: flex;
  text-align: center;
  animation: fadeInandOutAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.who_we_are {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.ethos {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.style {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInandOutAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#camel {
  height: 45vh;
  border-radius: 5rem;
  text-align: left;
  transform: translate(400%, 0%);
}

@media screen and (max-width: 960px) {
  #camel {
    left: auto;
  }
}
